/* NEW SECTION  */

.recruit{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #363738;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;

}

.recruit-top{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
}

.recruit-top > p{
  font-size: 28px;
  font-weight: 900;
  padding: 3px 20px;
  color: white;
  background-color: #363738;
}

.recruit-span{
  color: #28eea7;
  font-size: 34px;
  font-weight: 900;
}


.recruitment-partner{
  height: 100%;
  min-height: 460px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #232323;
  padding: 15px 0px 15px 35px;
  border-radius: 25px;
}

.recruitment-partner > p:nth-child(1){
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.recruitment-partner-h1{
  font-size: 17px;
  color: #b8bbbe;
  padding: 20px;
  background-color: #363738;
  font-weight: 600;
  max-width: 95%;
}

.green-txt{
  font-weight: 900;
  color: #28eea7;
}

.recruitment-partner > ul{
  font-size: 16px;
  color: #b8bbbe;
  list-style:decimal ;
  padding-left: 4%;
}

.recruitment-partner > p:last-of-type{
  color: #b8bbbe;
  font-weight: 400;
}

.recruitment-partner a{
  background-color: #363738;
  color: #F1F2F3;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;  
  text-align: right;
  width: 95%;
}

.launch-team{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  width: 90%;
  background-color: #232323;
  gap: 20px;
  padding: 15px 25px;
  border-radius: 25px;
}

.launch-team > p{
  font-size: 22px;
  text-align: center;
  color: #e0e0e2;
}
