/* NEW SECTION  */

.testimonials{
  position: relative;
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 224, 226);
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  overflow: hidden;
}


.testimonials-top{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
}

.testimonials-top > p{
  font-size: 28px;
  font-weight: 900;
  padding: 3px 20px;
  color: #363738;
}

.testimonials-span{
  color: #28eea7;
  font-size: 34px;
  font-weight: 900;
}


.testimonials-container{
  width: 5000px;
  position: absolute;
  top: 20%;
  transform: translateX(38.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  transition: 1s;
}


.testimonials-box{
  width: 90%;
  height: 100%;
  max-height: 450px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #363738;
  padding:  20px;
  gap: 100px;
  border-radius: 30px;
}

.testimonials-box-col{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

}

.testimonials-text-quotes{
  max-height: 80px;
  max-width: 80px;
}

.testimonials-text-quotes > img{
  height: 100%;
  width: 100%;
}

.testimonials-box-col > p{
  color: #b8bbbe;
  font-size: 18px;
}

.testimonials-box-footer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.testimonials-footer-text > p:first-of-type{
  color: #F1F2F3;
  font-size: 20px;
  font-weight: 900;
}

.testimonials-footer-text > p:last-of-type{
  color: #F1F2F3;
}


.testimonials-img-small{
  max-height: 60px;
  max-width: 60px;
}

.testimonials-img-small > img{
  height: 100%;
  width: 100%;
  border-radius: 40px ;
}


.testimonials-img-large{
  max-height: 500px;
  max-width: 500px;
}

.testimonials-img-large > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px
}

.click-dots{
  position: absolute;
  bottom: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  gap: 30px;
}

.mini-dot{
  height: 10px;
  width: 10px;
  background-color: #b8bbbe;
  border-radius: 50%;
}

.mini-dot:hover{
  cursor: pointer;
}

/* // Javascript */
.active{
  background-color: #363738;
  transition: 0.5s;
}