*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans Mono', monospace;
}

.intro-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100%;
  width: 100%;
}

nav{
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 40px 0 0 30px ;
}

nav > img{
  height: 36px;
  width: 36px;
  background-color: rgb(85, 85, 85);
  border-radius: 10px;
}

.intro-left-col{
  width: 100%;
  height: 100vh;
  background-image: url("https://assets-global.website-files.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
  background-position: 0 0, 50%;
  background-size:auto, cover;
}

.color-background{
  width: 100%;
  height: 100%;
  background-color:rgba(97, 2, 97, 0.822);
}

.learn{
  height: 86%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 50px;
  gap: 20px;
}

.learn > h1{
  color: white;
  background-color: #363738;
}

.learn > span{
  color: white;
}

.learn > p{
  color: white;
}

.learn > a{
  color: #F1F2F3;
  background-color: #363738;
  
}

.intro-right-col{
  width: 100%;
  height: 100vh;
  background-image: url("https://assets-global.website-files.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.shadow-background{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
}

.hire{
  height: 86%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  padding: 50px;
  gap: 20px;
}

.hire > h1{
  color: #363738;
  background-color: white;
}

.hire > span{
  color: white;
}

.hire > p{
  color: white;
}

.hire > a{
  background-color: #F1F2F3;
  color: #363738;
}

.learn > h1, .hire > h1{
  font-size: 24px;
  padding: 0 10px;
}

.learn > p, .hire > p{
  font-size: 16px;
  max-width: 600px;
  line-height: 25px;
}

.learn > a, .hire > a{
  padding: 15px 20px;
  font-weight: 800;
  text-decoration: none;
}

.learn > span, .hire > span{
  font-size:35px;
  font-weight: 800;
}

/* NEW SECTION  */

.video{
  height: 140vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e0e2;
}

.video-top{
  width: 88%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 15px;
}

.dots{
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding-bottom: 20px;
}

.black{background-color:  #363738;}
.grey{background-color: #b8bbbe;}
.green{background-color: #28eea7;}
.white{background-color: white;}

.video-span{
  color: #28eea7;
  font-size: 38px;
  font-weight: 900;
}

.video-top > p{
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 20px;
  color: #363738;
}

.vid-container{
  width: 90%;
  height: 90%;
  background-image: url("https://www.youtube.com/embed/vG7SYQjODTs?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0") ;
}

.you-vid{
  width: 100%;
  height: 95%;
  border: 15px solid #28eea7;
  border-radius: 20px; 
}

/* NEW SECTION  */

.milestones{
  height: 100%;
  min-height: 920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 242, 243);
  gap: 25px;
}

.milestones-top{
  width: 88%;
  height: 100%;
  min-height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 15px;
}

.milestones-span{
  color: #28eea7;
  font-size: 38px;
  font-weight: 900;
}

.milestones-top > p{
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 20px;
  color: #363738;
}

.milestones-boxes{
  width: 90%;
  /* height: 80%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.milestones-row-boxes{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.milestones-col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  text-align: left;
  border-radius: 20px;
  background-color: #e0e0e2;
  gap: 10px;
}

.extra-pad{
  padding: 40px 0px 60px 100px;

}

.success-rate-percent{
  font-size: 128px;
  font-weight: 900;
  color: #363738;
}

.success-rate-emp{
  font-size: 32px;
  font-weight: 900;
  color: #363738;
}

.dash > li{
  font-size: 16px;
  color: #363738;
  list-style-type: none;
}

.dash > li::before {
  content: "-    ";
}

.milestones-col > ul > li > span{
  font-size: 14px;
  color: #363738;
  font-weight: 900;
}

.milestones-medium{
  font-size: 64px;
  font-weight: 900;
  color: #363738;
}

.milestones-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.grow-small{
  width: 70%;
}

/* NEW SECTION  */
.programs{
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFC635;
  padding-bottom: 60px;
  gap: 50px;
}

.programs-top{
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.programs-top > p{
  font-size: 28px;
  font-weight: 900;
  padding: 3px 20px;
  color: white;
  background-color: #363738;
}

.programs-span{
  color: #28eea7;
  font-size: 34px;
  font-weight: 900;
}


.programs-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programs-nav{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.programs-nav > a{
  font-weight: 900;
  font-size: 16px;
  text-decoration: none;
  color: #232323;
}

.programs-nav > a:nth-child(1){
  color: #FFC635;
  padding:20px 50px ;
  background-color: #363738;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.programs-box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363738;
  padding: 0 20px 10px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.programs-box-text-divider{
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.programs-box-text{
  width: 100%;
  max-width: 700px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.programs-box-text > p:first-of-type{
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.yellow-text{
  color: #FFC635;
}

.programs-box-text > p:nth-child(2){
  font-size: 15px;
  color: #e0e0e2;
}

.programs-box-bottom-text{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.next{
  background-color: #232323;
  padding: 10px 20px ;
  color: white;
}

.yellow-text-s{
  color: #FFC635;
  font-weight: 900;
}

.learn-more{
  color: white;
  font-weight: 900;
  font-size: 16px;
  text-align: right;
  padding: 9px 10px;
  background-color: #232323;
  width: 38%;
  text-decoration: none;
}

.programs-img{
  height: 93%;
  width: 32%;
  padding-top: 8px;
}

.programs-img > img{
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

/* NEW SECTION  */

.recruit{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #363738;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;

}

.recruit-top{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
}

.recruit-top > p{
  font-size: 28px;
  font-weight: 900;
  padding: 3px 20px;
  color: white;
  background-color: #363738;
}

.recruit-span{
  color: #28eea7;
  font-size: 34px;
  font-weight: 900;
}


.recruitment-partner{
  height: 100%;
  min-height: 460px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #232323;
  padding: 15px 0px 15px 35px;
  border-radius: 20px;
}

.recruitment-partner > p:nth-child(1){
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.recruitment-partner-h1{
  font-size: 17px;
  color: #b8bbbe;
  padding: 20px;
  background-color: #363738;
  font-weight: 600;
  max-width: 95%;
}

.green-txt{
  font-weight: 900;
  color: #28eea7;
}

.recruitment-partner > ul{
  font-size: 16px;
  color: #b8bbbe;
  list-style:decimal ;
  padding-left: 4%;
}

.recruitment-partner > p:last-of-type{
  color: #b8bbbe;
  font-weight: 400;
}

.recruitment-partner a{
  background-color: #363738;
  color: #F1F2F3;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;  
  text-align: right;
  width: 95%;
}

.launch-team{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
  width: 90%;
  background-color: #232323;
  gap: 20px;
  padding: 15px 25px;
  border-radius: 20px;
}

.launch-team > p{
  font-size: 22px;
  text-align: center;
  color: #e0e0e2;
}
